.product-image-container:hover .img-tag.top-left {
    display: block !important;
  }

.product-image-container .img-tag.top-left{
    display: none !important;
}

.tag-hover:hover .img-tag.top-left {
    display: block !important;
  }

  .tag-hover .img-tag.top-left{
    display: none !important;
}

.product-image-container{
    z-index: 1000 !important;
}

.tag-z{
    z-index: auto !important;
}
.tag-transform{
    transform: none !important;
}
.img-tag{
    width: 35% !important;
    z-index: 2 !important;
    position: absolute !important;
    height: auto !important;
    margin: auto !important;
}

.top-left{
    top: 0px !important;
    left: 0px !important;
}

.center-left{
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
}

.bottom-left{
    bottom: 0px !important;
    left: 0px !important;
}

.top-right{
    top: 0px !important;
    right: 0px !important;
}

.center-right{
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
}

.bottom-right{
    bottom: 0px !important;
    right: 0px !important;
}

.top-middle{
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
}

.center-middle{
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
}

.bottom-middle{
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
}